<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
	<div class="box-name">
	  <i class="fa fa-user"></i>
	  <span>Change Password - {{username}}</span>
	</div>
	<div class="no-move"></div>
      </div>
      <div class="box-content">
	<div class="card">
          {{#my-form form=this id='userPasswordForm' labelClass='col-sm-4' inputClass='col-sm-4'}}
          {{my-input type='password' id='password' label='New password'}}
	  {{my-input type='password' id='passwordConfirmation' label='Type it again'}}
	  {{/my-form}}
	</div>
      </div>
    </div>
  </div>
</div>

