<!DOCTYPE html>
<ul class="nav main-menu">

  <li>
    <a href="/" class="active">
      <i class="fa fa-home"></i>
      <span class="hidden-xs">Home</span>
    </a>
  </li>

  <% if(session.User.admin || session.User.manager || session.User.sales || session.User.packing || session.User.documentation){ %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" id="shipment-toggle">
      <i class="fa fa-plane"></i>
      <span class="hidden-xs">Shipments</span>
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" id="shipment-RK102-toggle">
	  <i class="fa fa-folder-open-o hidden-xs"></i>
	  <span>RK102</span>
	</a>
	<ul class="dropdown-menu">
	  <% if(session.User.admin || session.User.manager || session.User.sales || session.User.documentation){ %>
	  <li>
	    <a href="/shipment/RK102">
	      <i class="fa fa-table"></i>
	      <span class="hidden-xs">Master order</span>
	    </a>
	  </li>
	  <% } %>
	  <li>
	    <a href="/shipment/RK102/packing">
	      <i class="fa fa-list-ol"></i>
	      <span class="hidden-xs">Packing list</span>
	    </a>
	  </li>
	  <% if(session.User.admin || session.User.manager || session.User.sales){ %>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle">
	      <i class="fa fa-bar-chart-o"></i>
	      <span class="hidden-xs">Reports</span>
	    </a>
	    <ul class="dropdown-menu">
	      <% if(session.User.admin || session.User.manager || session.User.sales){ %>
	      <li>
		<a href="/shipment/RK102/doa">
		  <i class="fa fa-medkit"></i>
		  <span class="hidden-xs">DOA</span>
		</a>
	      </li>
	      <% } %>
	      <% if(session.User.admin || session.User.manager){ %>
	      <li>
		<a href="/shipment/RK102/profit">
		  <i class="fa fa-usd"></i>
		  <span class="hidden-xs">Profit</span>
		</a>
	      </li>
	      <% } %>
 	    </ul>
	  </li>
	  <% } %>
	</ul>
      </li>
      <li>
	<a href="/shipment/JC238">
	  <i class="fa fa-folder-open-o hidden-xs"></i>
	  <span>JC238</span>
	</a>
      </li>
      <li>
	<a href="/shipment/CT22">
	  <i class="fa fa-folder-open-o hidden-xs"></i>
	  <span>CT22</span>
	</a>
      </li>
    </ul>
  </li>
  <% } %>

  <% if(session.User.admin || session.User.manager || session.User.purchasing){ %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" id="purchase-toggle">
      <i class="fa fa-shopping-cart"></i>
      <span class="hidden-xs">Purchasing</span>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="/purchase">
	  <i class="fa fa-stack-overflow"></i>
	  <span class="hidden-xs">Purchase stack</span>
	</a>
      </li>
      <li>
	<a href="/purchase/SL105">
	  <i class="fa fa-folder-open-o hidden-xs"></i>
	  <span>SL105</span>
	</a>
      </li>
      <li>
	<a href="/purchase/TT78">
	  <i class="fa fa-folder-open-o hidden-xs"></i>
	  <span>TT78</span>
	</a>
      </li>
    </ul>
  </li>
  <% } %>

  <% if(session.User.admin || session.User.manager || session.User.sales || session.User.purchasing || session.User.quality_check || session.User.packing || session.User.documentation){ %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" id="qc-toggle">
      <i class="fa fa-truck"></i>
      <span class="hidden-xs">Fish receive</span>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="/qc">
	  <i class="fa fa-truck"></i>
	  <span class="hidden-xs">All arrivals</span>
	</a>
      </li>
      <% if(session.User.admin || session.User.manager || session.User.quality_check){ %>
      <li>
	<a href="/qc/SL105">
	  <i class="fa fa-edit hidden-xs"></i>
	  <span>SL105</span>
	</a>
      </li>
      <li>
	<a href="/qc/TT78">
	  <i class="fa fa-edit hidden-xs"></i>
	  <span>TT78</span>
	</a>
      </li>
      <% } %>
    </ul>
  </li>
  <% } %>

  <% if(session.User.admin || session.User.manager || session.User.accounts_payable || session.User.accounts_receivable){ %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" id="accounts-toggle">
      <i class="fa fa-usd"></i>
      <span class="hidden-xs">Accounts</span>
    </a>
    <ul class="dropdown-menu">
      <% if(session.User.admin || session.User.manager || session.User.accounts_payable){ %>
      <li>
	<a href="/accounts/payables">
	  <i class="fa fa-upload"></i>
	  <span class="hidden-xs">Payables</span>
	</a>
      </li>
      <% } %>
      <% if(session.User.admin || session.User.manager || session.User.accounts_receivable){ %>
      <li>
	<a href="/accounts/receivables">
	  <i class="fa fa-download"></i>
	  <span class="hidden-xs">Receivables</span>
	</a>
      </li>
      <li>
	<a href="/accounts/soa">
	  <i class="fa fa-tasks"></i>
	  <span class="hidden-xs">Customers SOA</span>
	</a>
      </li>
      <% } %>
      <% if(session.User.admin || session.User.manager){ %>
      <li>
	<a href="/accounts/reporting">
	  <i class="fa fa-dashboard"></i>
	  <span class="hidden-xs">Reporting</span>
	</a>
      </li>
      <% } %>
    </ul>
  </li>
  <% } %>

  <% if(session.User.admin || session.User.manager){ %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" id="db-toggle">
      <i class="fa fa-hdd-o"></i>
      <span class="hidden-xs">Database</span>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="/db/fish">
	  <i class="fa fa-anchor"></i>
	  <span class="hidden-xs">Fish items</span>
	</a>
      </li>      
      <li>
	<a href="/db/plants">
	  <i class="fa fa-leaf"></i>
	  <span class="hidden-xs">Plants items</span>
	</a>
      </li>      
      <li>
	<a href="/db/price">
	  <i class="fa fa-book"></i>
	  <span class="hidden-xs">Pricelists</span>
	</a>
      </li>      
      <li>
	<a href="/db/customer">
	  <i class="fa fa-user"></i>
	  <span class="hidden-xs">Customers</span>
	</a>
      </li>      
      <li>
	<a href="/db/supplier">
	  <i class="fa fa-user"></i>
	  <span class="hidden-xs">Suppliers</span>
	</a>
      </li>      
      <li>
	<a href="/db/freight">
	  <i class="fa fa-plane"></i>
	  <span class="hidden-xs">Freight quotations</span>
	</a>
      </li>      
    </ul>
  </li>
  <% } %>

  <% if(session.User.admin){ %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" id="admin-toggle">
      <i class="fa fa-gear"></i>
      <span class="hidden-xs">Admin</span>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="/user">
	  <i class="fa fa-group"></i>
	  <span class="hidden-xs">Users management</span>
	</a>
      </li>
      <li>
	<a href="/currency">
	  <i class="fa fa-usd"></i>
	  <span class="hidden-xs">Currencies</span>
	</a>
      </li>
      <li>
	<a href="/pricetier">
	  <i class="fa fa-user"></i>
	  <span class="hidden-xs">Pricetiers</span>
	</a>
      </li>
      <li>
	<a href="/settings">
	  <i class="fa fa-wrench"></i>
	  <span class="hidden-xs">Settings</span>
	</a>
      </li>
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" id="admin-job-toggle">
	  <i class="fa fa-cubes"></i>
	  <span class="hidden-xs">Jobs</span>
	</a>
	<ul class="dropdown-menu">
	  <li>
	    <a href="/job/skucache">
	      <i class="fa fa-cube"></i>
	      <span class="hidden-xs">SKU picker recache</span>
	    </a>
	  </li>
	</ul>
      </li>
    </ul>
  </li>
  <% } %>
  
  <li>
    <a href="/support">
      <i class="fa fa-support"></i>
      <span class="hidden-xs">Support</span>
    </a>
  </li>
</ul>
