<!DOCTYPE html>
<ul class="nav main-menu">
  <li>
    <a href="/" class="active">
      <i class="fa fa-dashboard"></i>
      <span class="hidden-xs">Home</span>
    </a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle">
      <i class="fa fa-bar-chart-o"></i>
      <span class="hidden-xs">Shipments</span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/shipment/RK102">RK102</a></li>
      <li><a href="/shipment/JC238">JC238</a></li>
      <li><a href="/shipment/CT22">CT22</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle">
      <i class="fa fa-gears"></i>
      <span class="hidden-xs">Admin</span>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="/user">
	  <i class="fa fa-group"></i>
	  <span class="hidden-xs">Users management</span>
	</a>
      </li>
    </ul>
  </li>
</ul>
