<!DOCTYPE html>
<ul class="nav navbar-nav pull-right panel-menu">

  <!--<li class="hidden-xs">
      <a href="/" class="modal-link">
	<i class="fa fa-bell"></i>
	<span class="badge">7</span>
      </a>
  </li>
  <li class="hidden-xs">
    <a class="ajax-link" href="ajax/calendar.html">
      <i class="fa fa-calendar"></i>
      <span class="badge">7</span>
    </a>
  </li>
  <li class="hidden-xs">
    <a href="ajax/page_messages.html" class="ajax-link">
      <i class="fa fa-envelope"></i>
      <span class="badge">7</span>
    </a>
  </li>-->
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
      <div class="avatar">
	<img src="/upload/profile-pics/<%= session.user['profile_pic'] %>" class="img-rounded" alt="avatar" />
      </div>
      <i class="fa fa-angle-down pull-right"></i>
      <div class="user-mini pull-right">
	<span class="welcome">Welcome,</span>
	<span><%= session.user.name %></span>
      </div>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="/users/show/<%= session.user.id %>">
	  <i class="fa fa-user"></i>
	  <span>Profile</span>
	</a>
      </li>
      <% if(session.user.admin) { %>
      <li>
	<a href="/users/changePwd/<%= session.user.id %>">
	  <i class="fa fa-lock"></i>
	  <span>Change password</span>
	</a>
      </li>
      <% } %>

      
      <!--<li>
	  <a href="ajax/page_messages.html" class="ajax-link">
	    <i class="fa fa-envelope"></i>
	    <span>Messages</span>
	  </a>
      </li>
      <li>
	<a href="ajax/gallery_simple.html" class="ajax-link">
	  <i class="fa fa-picture-o"></i>
	  <span>Albums</span>
	</a>
      </li>
      <li>
	<a href="ajax/calendar.html" class="ajax-link">
	  <i class="fa fa-tasks"></i>
	  <span>Tasks</span>
	</a>
      </li>
      <li>
	<a href="#">
	  <i class="fa fa-cog"></i>
	  <span>Settings</span>
	</a>
      </li>-->

      <li>
	<a href="/auth/logout">
	  <i class="fa fa-power-off"></i>
	  <span>Logout</span>
	</a>
      </li>
    </ul>
  </li>
</ul>
