<!DOCTYPE html>
<div id="page-login" class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="box">
      <div class="box-content">
	<div class="text-center">
	  <h3 class="page-header">Error 404 - Page Not Found</h3>
	</div>
	<div class="text-center">
	  Oups! Something's fishy here.<br />
	  The page you are looking for does not exist.<br />
	  <br />
	  If you think this is a bug, please <a href="/help">let us know</a>.
	  <a href="/" class="btn btn-primary">Go back to the main page</a><br />
	</div>
      </div>
    </div>
  </div>
</div>
