<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
	<div class="box-name">
	  <i class="fa fa-user"></i>
	  <span>User Profile - Edit</span>
	</div>
	<div class="no-move"></div>
      </div>
      <div class="box-content">
	<div class="card">
	  <form action="/user/update/<%=user.id %>" method="POST" class="form-horizontal">
	    <div class="form-group">
	      <label class="col-sm-3 control-label">Full name</label>
	      <div class="col-sm-5">
		<input type="text" class="form-control" name="name" value="<%=user.name %>" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-sm-3 control-label">Email address</label>
	      <div class="col-sm-5">
		<input type="text" class="form-control" name="email" value="<%=user.email %>" />
	      </div>
	    </div>
	    <h4 class="page-header">User roles</h4>
	    <div class="col-sm-4">
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="admin">
		  <input type="checkbox" name="admin" <% if(user.admin){ %> checked <% } %> > Admin
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="manager">
		  <input type="checkbox" name="manager" <% if(user.manager){ %> checked <% } %> > Manager
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="sales">
		  <input type="checkbox" name="sales" <% if(user.sales){ %> checked <% } %> > Sales
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="purchasing">
		  <input type="checkbox" name="purchasing" <% if(user.purchasing){ %> checked <% } %> > Purchasing
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="quality_check">
		  <input type="checkbox" name="quality_check" <% if(user.quality_check){ %> checked <% } %> > Quality Check
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="packing">
		  <input type="checkbox" name="packing" <% if(user.packing){ %> checked <% } %> > Packing
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="documentation">
		  <input type="checkbox" name="documentation" <% if(user.documentation){ %> checked <% } %> > Documentation
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="accounts_payable">
		  <input type="checkbox" name="accounts_payable" <% if(user.accounts_payable){ %> checked <% } %> > Accounts Payable
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="hidden" value="unchecked" name="accounts_receivable">
		  <input type="checkbox" name="accounts_receivable" <% if(user.accounts_receivable){ %> checked <% } %> > Accounts Receivable
		  <i class="fa fa-square-o"></i>
		</label>
	      </div>
	    </div>
	    <h4 class="page-header">&nbsp;</h4>
	    <div class="form-group">
	      <div class="text-center">
		<button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>  
</div>
