<!DOCTYPE html>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
	<div class="box-name">
	  <i class="fa fa-user"></i>
	  <span>Create User Account</span>
	</div>
	<div class="no-move"></div>
      </div>
      <div class="box-content">
	<form id="userForm" action="/user/create" method="POST" >
	  <div class="form-group">
	    <label class="col-sm-3 control-label">Username</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" name="username" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-3 control-label">Full name</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" name="name" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-3 control-label">Email</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" name="email" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-3 control-label">Password</label>
	    <div class="col-sm-9">
	      <input type="password" class="form-control" name="password" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-3 control-label">Password Again</label>
	    <div class="col-sm-9">
	      <input type="password" class="form-control" name="confirmPassword" />
	    </div>
	  </div>
	  <input type="hidden" name="_csrf" value="<%= _csrf %>">
	  <div class="form-group">
	    <div class="text-center">
	      <button type="submit" class="btn btn-primary">Create account</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    UserFormValidator();
  });
</script>
