<div class="container-fluid app-container">
  {{outlet}}
</div>

<script type="text/javascript">
  function makeTooltips() {
    $('.hastip').tooltipsy({
      alignTo: 'element',
      offset: [0, 1]
    });
 }
 makeTooltips();
</script>
