<!--Start Header-->
<div id="screensaver">
  <canvas id="canvas"></canvas>
  <i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
  <div class="devoops-modal">
    <div class="devoops-modal-header">
      <div class="modal-header-name">
	<span>Basic table</span>
      </div>
      <div class="box-icons">
	<a class="close-link">
	  <i class="fa fa-times"></i>
	</a>
      </div>
    </div>
    <div class="devoops-modal-inner">
    </div>
    <div class="devoops-modal-bottom">
    </div>
  </div>
</div>
<header class="navbar">
  <div class="container-fluid expanded-panel">
    <div class="row">
      <div id="logo" class="col-xs-12 col-sm-3 col-md-2">
        {{#link-to 'main'}}Greeny OMS{{/link-to}}
      </div>
      <div id="top-panel" class="col-xs-12 col-sm-9 col-md-10">
	<div class="row">
	  <div class="col-xs-8 col-sm-8">
	    <a href="#" class="show-sidebar">
	      <i class="fa fa-bars"></i>
	    </a>
	    <div id="search">
	      <input type="text" placeholder="search"/>
	      <i class="fa fa-search"></i>
	    </div>
	  </div>
	  <div class="col-xs-4 col-sm-4 top-panel-right">
	    {{partial "user-menu"}}
	  </div>
	</div>
      </div>
    </div>
  </div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
  <div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-3 col-md-2">
      {{partial "main-menu"}}
    </div>
    <!--Start Content-->
    <div id="content" class="col-xs-12 col-sm-9 col-md-10">
      {{outlet}}
    </div>
    <!--End Content-->
  </div>
</div>
<!--End Container-->
