<ul class="nav navbar-nav pull-right panel-menu">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
      <div class="avatar">
        {{sails-path 'img' '/upload/profile-pics/' session.user.profile_pic class='img-rounded'}}
      </div>
      <i class="fa fa-angle-down pull-right"></i>
      <div class="user-mini pull-right">
	<span class="welcome">Welcome,</span>
	<span>{{session.user.name}}</span>
      </div>
    </a>
    <ul class="dropdown-menu">
      <li>
	{{#link-to 'main.myaccount'}}
	<i class="fa fa-user"></i>
	<span>My account</span>
	{{/link-to}}
      </li>
      <li>
	{{#link-to 'main.mypicture'}}
	<i class="fa fa-camera"></i>
	<span>My picture</span>
	{{/link-to}}
      </li>
      {{#if session.user.admin}}
        <li>
          {{#link-to 'main.mypassword'}}
	  <i class="fa fa-lock"></i>
	  <span>Change password</span>
          {{/link-to}}
	</li>
      {{/if}}
      <li>
	<a {{ action 'invalidateSession' }}>
	  <i class="fa fa-power-off"></i>
	  <span>Logout</span>
	</a>
      </li>
    </ul>
  </li>
</ul>
