<!DOCTYPE html>
<div class="row">
  <div class="col-xs-12">
    <div id="AirportTableContainer"></div>
    <p class='text-center'>See airports details on <a href='http://openflights.org/html/apsearch' target='_blank'>OpenFlights.org</a></p>
  </div>
</div>


<script src="/js/timezones.js"></script>
<script src="/js/jtable-airport.js"></script>
