<div class="row">
  <div class="col-xs-3">
    {{#link-to 'main.db.fishes' class="btn btn-default"}}Back to main fish database{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
      {{#each family in model}}
        <li>{{family.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
