<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" {{bind-attr aria-valuenow=progress}} aria-valuemin="0" aria-valuemax="100" {{bind-attr style=style}}></div>
</div>
