<!DOCTYPE html>
<div class="row">
  <div class="col-xs-3">
    <a class="btn btn-default" href="/fish">Back to main fish database</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="FishFamilyTableContainer"></div>
  </div>
</div>


<script src="/js/jtable-fishfamily.js"></script>
