<!DOCTYPE html>
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="input-group">
	<span class="input-group-btn">
	  <button class="btn btn-default" type="submit" id="SearchButton">Search products!</button>
	</span>
	<input type="text" class="form-control" name="search">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="FishTableContainer"></div>
  </div>
</div>


<script src="/js/jtable-fish.js"></script>
